

[Unit]

Description=Redis In-Memory Data Store
After=network.target

[Service]
ExecStart=/usr/local/bin/redis-server {{ redis_config_file }}
ExecStop=/usr/local/bin/redis-cli shutdown
User={{ redis_user }}
Group={{ redis_group }}
LimitNOFILE=10032
Restart=always
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

